<div id="actions">
	<div class="actionLinks pull-right">
		<a class="clickable delBtn red dark"><i class="fa fa-trash"></i></a>
		<a class="clickable editBtn"><i class="fa fa-pencil"></i></a>
	</div>
</div>
<div id="page" class="page secondary">
	<div id="header">
		<span class="title"><%= model.get('title') %></span>
	</div>
	<div id="sub-header">
		<span class="presenceList">люд (14)</span>
		<span class="action presenceNew">
			<i class="fa fa-plus"></i>
		</span>
		<span class="matchList">партії (21)</span>
		<span class="action matchNew">
			<i class="fa fa-plus"></i>
		</span>
	</div>
	<div id="content">
		<div class="col-sm-10 col-sm-offset-1 text-justify">
			з <b><%= moment(model.get('startTime')).format('HH:mm, DD.MM.YYYY') %></b>
			до <b><%= moment(model.get('endTime')).format('HH:mm, DD.MM.YYYY') %></b>
		</div>
		<div class="col-sm-10 col-sm-offset-1 text-justify">
			<%= model.get('description') %>
		</div>
	</div>
</div>