<div id="actions">
	<div class="actionLinks right">
		<a class="clickable saveBtn green"><i class="fa fa-check"></i></a>
		<a class="clickable cancelBtn red dark"><i class="fa fa-remove"></i></a>
	</div>
</div>
<div id="page" class="page primary">
	<div id="content" class="row">
		<div class="input-field col s12">
			<input id="title" name="title" type="text" class="validate" value="<%= model.get('title') %>">
			<label for="title" class="<%if(model.get('title') != ''){%>active<%}%>">оригінальний заголовок:</label>
		</div>
		<div class="input-field col s12">
			<textarea id="description" name="description" class="materialize-textarea validate" rows="6"><%= model.get('description') %></textarea>
			<label for="description" class="<%if(model.get('description') != ''){%>active<%}%>">опис:</label>
		</div>
		<div class="input-field col m6">
			<input id="startTime" name="startTime" type="text" class="validate">
			<label for="startTime" class="<%if(model.get('startTime') != ''){%>active<%}%>">початок:</label>
		</div>
		<div class="input-field col m6">
			<input id="endTime" name="endTime" type="text" class="validate">
			<label for="endTime" class="<%if(model.get('endTime') != ''){%>active<%}%>">закінчення:</label>
		</div>
	</div>
</div>