<div id="actions">
	<div class="actionLinks left admin">
		<a href="#days?startDay=<%= nextDate %>" class="clickable"><i class="fa fa-chevron-right"></i></a>
		<a href="#days?startDay=<%= prevDate %>" class="clickable"><i class="fa fa-chevron-left"></i></a>
	</div>
	<div class="actionLinks right">
		<a href="#/days/new" class="green"><i class="fa fa-plus"></i></a>
		<a class="clickable waves-effect waves-light"><i class="fa fa-filter"></i></a>
	</div>
</div>
<div id="page" class="page primary calendar">
	<div class="week past">
		<div class="days"></div>
		<div class="events super-list"></div>
	</div>
	<div class="week current">
		<div class="days"></div>
		<div class="events super-list"></div>
	</div>
	<div class="week">
		<div class="days"></div>
		<div class="events super-list"></div>
	</div>
	<div class="week">
		<div class="days"></div>
		<div class="events super-list"></div>
	</div>
</div>