<a href="#users/<%= user.id %>" class="col s6">
	<img src="<%= user.photoUrl %>" class="rounded" style="height: 45px; float: left">
	<span style="display: block; font-size: 1.7em; padding: 17px 0px 0 10px; float: left; color: #3B5999;"><%= user.nickname %></span>
</a>
<div class="input-field col s3" style="margin: 0;">
	<input name="win" type="checkbox" class="filled-in" id="win<%= user.id %>" <% if(win){%>checked<%}%>/>
	<label for="win<%= user.id %>"> перемога </label>
</div>
<div class="input-field col s2" style="margin: 5px 0 -10px 0;">
	<input id="points" name="points" type="text" value="<%= points %>" style="height: 2rem">
	<label for="points" class="active">бали:</label>
</div>
<a class="delScoreBtn clickable em2 col s1" style="margin: 0; color: #D9534F; padding: 7px">
	<i class="fa fa-trash"></i>
</a>