<div id="actions">
	<div class="actionLinks right">
		<a class="clickable delBtn red dark"><i class="fa fa-trash"></i></a>
		<a class="clickable editBtn"><i class="fa fa-pencil"></i></a>
	</div>
</div>
<div id="page" class="page secondary">
	<div id="header">
		<img src="<%= model.get('photoUrl') %>" class="left avatar">
		<span class="title"><%= model.get('nickname') %></span>
		<span class="sub-title"><%= model.get('firstName') + ' ' + model.get('lastName') %></span>
	</div>
	<div id="sub-header">
		<span>відгуки (23)</span>
		<span class="action">
			<i class="fa fa-plus"></i>
		</span>
		<span>забавки (12)</span>
		<span class="action">
			<i class="fa fa-plus"></i>
		</span>
		<span>партії (421)</span>
		<span class="action">
			<i class="fa fa-plus"></i>
		</span>
	</div>
	<div id="content"></div>
</div>