<div id="actions">
	<div class="actionLinks pull-right">
		<a class="clickable saveBtn green"><i class="fa fa-check"></i></a>
		<a class="clickable cancelBtn red dark"><i class="fa fa-remove"></i></a>
	</div>
</div>
<div id="page" class="page primary">
	<div id="content" class="row">
		<div class="input-field col s6">
			<input id="firstName" name="firstName" type="text" class="validate" value="<%= model.get('firstName') %>">
			<label for="firstName" class="<%if(model.get('firstName') != ''){%>active<%}%>">ім'я:</label>
		</div>
		<div class="input-field col s6">
			<input id="lastName" name="lastName" type="text" class="validate" value="<%= model.get('lastName') %>">
			<label for="lastName" class="<%if(model.get('lastName') != ''){%>active<%}%>">прізвище:</label>
		</div>
		<div class="input-field col s6">
			<input id="nickname" name="nickname" type="text" class="validate" value="<%= model.get('nickname') %>">
			<label for="nickname" class="<%if(model.get('nickname') != ''){%>active<%}%>">псевдо:</label>
		</div>
		<div class="input-field col s6">
			<select name="role">
				<option value="USER" <%if(model.get('role') == 'USER'){%>selected<%}%> >Користувач</option>
				<option value="MODER" <%if(model.get('role') == 'MODER'){%>selected<%}%> >Модератор</option>
				<option value="ADMIN" <%if(model.get('role') == 'ADMIN'){%>selected<%}%> >Адміністратор</option>
			</select>
			<label>роль:</label>
		</div>
		<div class="input-field col s12">
			<input id="photoUrl" name="photoUrl" type="text" class="validate" value="<%= model.get('photoUrl') %>">
			<label for="photoUrl" class="<%if(model.get('photoUrl') != ''){%>active<%}%>">фото:</label>
		</div>
	</div>
</div>