<div id="actions">
	<div class="actionLinks pull-right">
		<a class="saveBtn green"><span class="glyphicon glyphicon-ok"></span></a>
		<a class="cancelBtn red dark"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>
<div id="page" class="page primary">
	<div id="content" class="form-horizontal">
		<div id="firstName" class="form-group">
			<label class="col-sm-2 control-label">ім'я:</label>
			<div class="col-sm-9">
				<input name="firstName" type="text" class="form-control" value="<%= model.get('firstName') %>">
			</div>
		</div>
		<div id="lastName" class="form-group">
			<label class="col-sm-2 control-label">прізвище:</label>
			<div class="col-sm-9">
				<input name="lastName" type="text" class="form-control" value="<%= model.get('lastName') %>">
			</div>
		</div>
		<div id="nickname" class="form-group">
			<label class="col-sm-2 control-label">псевдо:</label>
			<div class="col-sm-9">
				<input name="nickname" type="text" class="form-control" value="<%= model.get('nickname') %>">
			</div>
		</div>
		<div id="photoUrl" class="form-group">
			<label class="col-sm-2 control-label">фото:</label>
			<div class="col-sm-9">
				<input name="photoUrl" type="text" class="form-control" value="<%= model.get('photoUrl') %>">
			</div>
		</div>
		<div id="role" class="form-group">
			<label class="col-sm-2 control-label">роль:</label>
			<div class="col-sm-9">
				<select name="role" class="form-control">
					<option value="USER" <%if(model.get('role') == 'USER'){%>selected<%}%> >Користувач</option>
					<option value="MODER" <%if(model.get('role') == 'MODER'){%>selected<%}%> >Модератор</option>
					<option value="ADMIN" <%if(model.get('role') == 'ADMIN'){%>selected<%}%> >Адміністратор</option>
				</select>
			</div>
		</div>
		<div id="createdAt" class="form-group">
			<label class="col-sm-2 control-label">time:</label>
			<div class="col-sm-4">
				<div class="input-group date">
					<input name="createdAt" class="form-control" type="text">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>