<div id="actions">
	<div class="actionLinks pull-right">
		<a class="clickable delBtn red dark"><i class="fa fa-trash"></i></a>
		<a class="clickable editBtn"><i class="fa fa-pencil"></i></a>
	</div>
</div>
<div id="page" class="page secondary">
	<div id="header">
		<span class="title"><%= model.get('ukTitle') %> <span class="muted">/ <%= model.get('enTitle') %></span></span>
	</div>
	<div id="sub-header">
		<span>замануха</span>
		<span>деталі</span>
		<span>опис</span>
		<span>фото (121)</span>
		<span>відгуки (73)</span>
		<span>партії (421)</span>
	</div>
	<div id="content">
		<div class="col m5">
			<div class="cover">
				<% if (model.get("cover")) { %>
				<img id="imagePreview" src="/api/files/<%= model.get('cover').id %>/bytes"/>
				<% } else { %>
				<img id="imagePreview" src="/rsc/admin/img/noCover.jpg"/>
				<% } %>
			</div>
		</div>
		<div class="col m7">
			<div class="text-justify">
				від <b><%= model.get('mink') %></b> до <b><%= model.get('maxk') %></b> гравців
			</div>
			<div class="text-justify">
				від <b><%= model.get('minTime') %></b> до <b><%= model.get('maxTime') %></b> хвилин бавитись
			</div>
			<% if(model.get('parent') != null) { %>
			<div class="text-justify">
				є доповненням до <a href="#gameboxes/<%= model.get('parent').id %>"><b><%= model.get('parent').ukTitle %></b></a>
			</div>
			<% } %>
			<% if(addons != null) { %>
			<div class="text-justify">
				доповнення до цієї забавки:
				<% _.each(addons, function(addon) { %>
				<a href="#gameboxes/<%= addon.get('id') %>"><b><%= addon.get('ukTitle') %></b></a>,
				<% }); %>
			</div>
			<% } %>
		</div>
		<div class="col m10 s12 offset-m1 text-justify">
			<%= model.get('description') %>
		</div>
	</div>
</div>