<div id="actions">
	<div class="actionLinks pull-left">
		<a class="cardsViewBtn clickable"><span class="glyphicon glyphicon-th"></span></a>
		<a class="listViewBtn active"><span class="glyphicon glyphicon-th-list"></span></a>
	</div>
	<div class="actionLinks pull-right">
		<a href="#/gameboxes/new" class="green"><span class="glyphicon glyphicon-plus"></span></a>
		<a><span class="glyphicon glyphicon-sort"></span></a>
		<a><span class="glyphicon glyphicon-filter"></span></a>
	</div>
</div>
<div id="page" class="page primary">
	<div class="super-list">
		<% _.each(collection.models, function(gamebox) { %>
		<a href="#gameboxes/<%= gamebox.get('id') %>" class="super-list-item">
			<div class="stat pull-right">
				<span class="value">73</span>
				<span class="key">відгуки</span>
			</div>
			<div class="stat pull-right">
				<span class="value">42</span>
				<span class="key">партії</span>
			</div>
			<div class="stat pull-right">
				<span class="value">21</span>
				<span class="key">власник</span>
			</div>
			<div class="stat pull-right">
				<span class="value">3</span>
				<span class="key">доповнення</span>
			</div>
			<span class="title"><%= gamebox.get('ukTitle') %></span>
			<span class="subtitle">
				<b><%= gamebox.get('mink') + '-' + gamebox.get('maxk') %></b> гравців,
				<b><%= gamebox.get('minTime') + '-' + gamebox.get('maxTime') %></b> хвилин
			</span>
		</a>
		<% }); %>
	</div>
</div>