<div class="modal-content">
	<div class="row">
		<div class="input-field col m6">
			<input name="tutorial" type="checkbox" class="filled-in" id="tutorial" <% if(tutorial){%>checked<%}%>/>
			<label for="tutorial">Це навчальна партія</label>
		</div>
		<div class="input-field col m6">
			<input name="winType" type="checkbox" class="filled-in" id="winType" <% if(winType == 'POINTS'){%>checked<%}%>/>
			<label for="winType">Враховувати бали</label>
		</div>
	</div>
	<div class="row">
		<h5>день:</h5>
		<div class="input-field col s6">
			<select id="eventId" name="eventId"></select>
		</div>
	</div>
	<div class="row">
		<h5>забавки:</h5>
		<div class="input-field col s6">
			<select id="mainGameboxId" name="mainGameboxId"></select>
			<label>основна:</label>
		</div>
		<div id="additionalGameboxes" class="input-field col s6">
			<label class="active">доповнення:</label>
			<div>
				<p style='margin: 12px 0;'> завантажується... </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="newPlayer" name="newPlayer" type="text">
			<label for="newPlayer" class="active">додавання нового гравця:</label>
		</div>
	</div>
	<div id="scores" class="col m12"></div>
</div>
<div class="modal-footer">
	<button type="button" class="btn blue darken-2 saveBtn">зберегти</button>
	<button type="button" class="btn red lighten-1 delBtn">видалити</button>
	<button type="button" class="btn blue lighten-3 cloneBtn">клонувати</button>
	<button type="button" class="btn-flat modal-action modal-close">скасувати</button>
</div>