html {
	height: 100%;
}

body {
	height: 100%;
	background: #E8E9ED;
}

.em2 {
	font-size: 2em;
}

.clickable {
	cursor: pointer;
}

#container {
	min-height: 700px;
	height: 100%;
	overflow-y: auto;
	margin: auto;
}

#sidebar {
	text-align: right;
	padding-top: 50px;
	height: 100%;
	z-index: 1000;
	display: block;
	float: left;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	/*background: #1976D2;*/
	background: url("/rsc/admin/img/gp-blue.jpg");
	box-shadow: rgba(0, 0, 0, 0.53) 2px 0px 5px;
}

#sidebar > #slogan {
	font-size: 3em;
	text-align: center;
	/*color: #1976D2;*/
	color: #EEE;
	text-shadow: 1px 1px 2px rgba(0,66,65,0.8);
	text-align: right;
}

#sidebar > #slogan > span {
	color: #FFC107;
}

#sidebar #search, #sidebar .twitter-typeahead .tt-hint {
	margin: 0px;
	background: #313b3d;
	width: 225px;
	border-radius: 0px;
	font-size: 20px;
	height: 41px;
	box-shadow: none;
	border: none;
	color: #CCC;
	padding: 5px 15px;
	opacity: 0;
}

#sidebar .tt-dataset-autocomplete {
	width: 225px;
	background: #313b3d;
	font-size: 20px;
	color: #DDD;
}

#sidebar .tt-dataset-autocomplete > .tt-suggestion {
	padding: 5px 15px;
	cursor: pointer;
}

#sidebar .twitter-typeahead .tt-hint {
	color: #3673c5;
}

#menu {
	margin-top: 10px;
}

#menu > a {
	background: none;
	border: none;
	font-size: 38px;
	color: #e8e8e8;
	display: block;
	text-decoration: none;
	padding-right: 15px;
	text-align: right;
	text-shadow: 1px 1px 2px rgba(0,66,65,0.8);
	font-weight: 600;
}

#menu > a.inactive {
	color: #1976D2;
}

.changeSideBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.5em;
	color: #878DA1;
	text-shadow: 1px 1px 2px rgba(0,66,65,0.8);
	padding: 0 10px 0 5px;
}

#chooseLight {
	display: none;
}

#chooseDark {
	display: block;
}

#chooseDark > span{
	color: #222222;
}

#actions {
	height: 50px;
	width: 100%;
	margin: 5px 0 10px;
}

#main {
	height: 100%;
	display: block;
	float: left;
	max-width: 700px;
	padding-left: 30px;
}

#page {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.shadowed {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.primary {
	background-color: #FFF;
}

.secondary {
	background-color: #F6F7F9;
}

#page > #header {
	overflow-y: auto;
	font-size: 30px;
	background: white;
	color: #3B5999;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}

#header > .title {
	margin-left: 10px;
	display: block;
}

#header > .title > .muted{
	font-size: 0.6em;
}

#header > .sub-title {
	color: #878DA1;
	margin-left: 10px;
	font-size: 18px;
	padding: 7px;
	display: block;
}

#header > .avatar {
	max-height: 85px;
	margin-right: 10px;
}

#header > .actionLinks {
	font-size: 24px;
	line-height: 1;
}

.actionLinks > a {
	font-size: 2em;
	color: #878DA1;
	padding: 9px 7px 1px 7px;
	float: right;
}

.actionLinks > .clickable:hover {
	color: #878DA1;
	cursor: pointer;
}

.actionLinks > a.active {
	color: #337ab7;
	background: none !important;
}

.actionLinks > a.green {
	color: #4CAF50;
	background: none !important;
}

.actionLinks > a.red.dark {
	color: #D9534F;
	background: none !important;
}

#sub-header {
	font-size: 18px;
	padding: 0;
	overflow-y: auto;
	background-color: white;
	color: #878DA1;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}

#sub-header > span {
	padding: 7px 7px 7px 20px;
	text-decoration: none;
	display: block;
	float: left;
	cursor: pointer;
}

#sub-header > span.action {
	padding: 9px 7px 6px 0px;
}

.wizard .step .status {
	width: 10px;
	height: 10px;
	background-color: #878DA1;
	padding: 0;
	margin: 8px 5px;
	border-radius: 50%;
	display: block;
	float: right;
}

.wizard .step.inactive {
	color: #DDD;
	cursor: default !important;
}

.wizard .step.inactive .status {
	background-color: #DDD;
}

.wizard .step.active .title {
	color: #3B5999;
	font-weight: 700;
}

.wizard .step.active .status {
	background-color: #3B5999;
}

.wizard .step.success .title {
	color: #4CAF50;
}

.wizard .step.success .status {
	background-color: #4CAF50;
}

.wizard .step.error .title {
	color: #D9534F;
}

.wizard .step.error .status {
	background-color: #D9534F;
}

.step-block {
	display: none;
}

#content {
	padding: 15px 15px 0 15px;
	overflow-y: auto;
}

#content > div {
	margin-bottom: 15px;
	font-size: 18px;
}

#content .super-list {
	margin: -15px -15px 0 -15px;
}

.super-list > .super-list-item {
	padding: 6px 10px 3px 20px;
	border-bottom: 1px solid #eee;
	display: block;
	text-decoration: none;
	overflow-y: overlay;
}

.super-list > .super-list-item * {
	text-decoration: none;
}

.super-list > .super-list-item:hover {
	background: #EEF;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
	border: none;
	margin-bottom: 1px;
}

.super-list > .super-list-item .avatar {
	line-height: 1;
}

.super-list > .super-list-item .avatar img {
	height: 40px;
	margin-right: 10px;
}

.super-list > .super-list-item .players img {
	height: 40px;
	margin-left: 5px;
}

.super-list > .super-list-item .megatitle {
	display: block;
	font-size: 30px;
	color: #212121;
}

.super-list > .super-list-item .title {
	display: block;
	font-size: 18px;
	color: #212121;
}

.super-list > .super-list-item .subtitle {
	display: block;
	font-size: 12px;
	color: #727272;
}

.super-list > .super-list-item .stat > .key {
	display: block;
	font-size: 12px;
	color: #727272;
	text-align: center;
	padding: 0px 5px;
}

.super-list > .super-list-item .stat > .value {
	display: block;
	font-size: 18px;
	color: #212121;
	text-align: center;
}

.cards {
	column-count: 3;
	column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
}

.card {
	width: 100%;
	max-width: 200px;
	float: left;
	margin: 10px;
	overflow: visible;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

.card.user {
	margin: 20% 10px 10px;
}

.card img {
	width: 100%;
	display: block;
}

.card.user img {
	width: 70%;
	margin: -55% auto 0;
	box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.4);
	border: 4px solid rgba(255, 255, 255, 1);
}

.card a {
	display: block;
	text-decoration: none;
}

.card .title {
	color: #212121;
	text-align: center;
	font-size: 20px;
	display: block;
	padding: 5px 5px 0 5px;
}

.card .subtitle {
	text-align: center;
	font-size: 14px;
	color: #727272;
	display: block;
	padding-bottom: 5px;
}

.card.user .title {
	font-size: 30px;
}

.card-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	overflow-y: auto;
	color: #878DA1;
	font-size: 1.5em;
	padding: 2px;
}

.card-footer .stat {
	text-align: center;
}

.card-footer span {
	padding: 4px 5px 0 0;
}

.btn-win {
	margin: -7px 0 0 0;
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-win:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-win.active:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.list-group-item > .addon {
	margin: -7px -12px 0 0;
}
.twitter-typeahead {
	width: 100%;
}

.autocomplete-item {
	padding: 5px 15px;
	font-size: 18px;
	cursor: pointer;
}

.autocomplete-item.tt-cursor, .autocomplete-item:hover {
	background-color: #f5f5f5;
}

.autocomplete-item.pending{
	width: 60px;
	margin: 0 auto;
	padding: 10px 0;
}
.autocomplete-item.pending:hover{
	background-color: white;
}
.autocomplete-item.pending img{
	width: 60px;
}

.modal-footer > span {
	font-size: 24px;
	color: #777;
}

.modal-footer > img {
	height: 60px;
	margin: -15px -5px -15px 5px;
}